{% extends 'application/basic.html' %}
{% block herocontent %}
<h1>Contact Us</h1>
            <p>Learn, explore, and discover something amazing!</p>
            
{% endblock herocontent %}
{% block content %}
  <div class="container">
    <div class="row">
        <div class="col-md-8 col-12 mt-3 mx-auto">
          <div class="card shadow-0 border p-3">
           
            <h2 class="text-center">Contact Us</h2>
            <form method="post">
              {% csrf_token %}
              {{ form.as_p }}
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
             
          </div>
        </div>
    </div>
   
  </div>
{% endblock %}
