{% extends 'application/basic.html' %}
{% block herocontent %}
<h1>FAQ</h1>
            <p>Learn, explore, and discover something amazing!</p>
            
{% endblock herocontent %}
{% block content %}
  <div class="container">

    <div class="mt-4">
        <h2>Frequently Asked Question</h2>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam quia eveniet voluptate nemo pariatur modi, impedit atque delectus ex perspiciatis amet asperiores assumenda inventore illo velit debitis quas accusantium dignissimos. Placeat obcaecati neque laudantium, rem suscipit sapiente asperiores, aliquid facilis, odio dolor impedit aspernatur distinctio rerum earum non nihil dolorum itaque eius optio officia nulla. Dolorum, soluta qui repellendus pariatur repudiandae inventore mollitia doloribus nihil similique ea dignissimos, accusamus quo unde eligendi a perferendis? Harum, molestiae minima! Rerum delectus harum voluptatum repudiandae dolores dolore placeat a. Quia atque ducimus non mollitia tenetur? Quidem assumenda repellat omnis amet ipsum corrupti veniam?
        </p>
    </div>
    <div class="list-group w-100">
        <a href="#shortExampleAnswer1collapse" data-mdb-toggle="collapse" aria-expanded="false"
          aria-controls="shortExampleAnswer1collapse" class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Question 1</h5>
          </div>
          <p class="mb-1">
            Short & concise version of the answer.
          </p>
          <small><u>Learn more</u></small>
          <!-- Collapsed content -->
          <div class="collapse mt-3" id="shortExampleAnswer1collapse">
            Detailed and comprehensive answer goes here. pariatur cliche reprehenderit, enim eiusmod
            high
            life accusamus terry richardson ad
            squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
            sapiente ea proident.
          </div>
        </a>
        <a href="#shortExampleAnswer2collapse" data-mdb-toggle="collapse" aria-expanded="false"
          aria-controls="shortExampleAnswer1collapse" class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Question 2</h5>
          </div>
          <p class="mb-1">
            Short & concise version of the answer.
          </p>
          <small class="text-muted"><u>Learn more</u></small>
          <!-- Collapsed content -->
          <div class="collapse mt-3" id="shortExampleAnswer2collapse">
            Detailed and comprehensive answer goes here. pariatur cliche reprehenderit, enim eiusmod
            high
            life accusamus terry richardson ad
            squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
            sapiente ea proident.
          </div>
        </a>
        <a href="#shortExampleAnswer3collapse" data-mdb-toggle="collapse" aria-expanded="false"
          aria-controls="shortExampleAnswer1collapse" class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Question 3</h5>
          </div>
          <p class="mb-1">
            Short & concise version of the answer.
          </p>
          <small class="text-muted"><u>Learn more</u></small>
          <!-- Collapsed content -->
          <div class="collapse mt-3" id="shortExampleAnswer3collapse">
            Detailed and comprehensive answer goes here. pariatur cliche reprehenderit, enim eiusmod
            high
            life accusamus terry richardson ad
            squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
            sapiente ea proident.
          </div>
        </a>
      </div>
   
  </div>
{% endblock %}
